<section class="home-banner">
    <ngb-carousel class="banner-slider">
        <ng-template ngbSlide>
          <div class="item" style="background-image: url(../../assets/images/home_banner01.jpg);">
          </div>
        </ng-template>
    
        <ng-template ngbSlide>
          <div class="item" style="background-image: url(../../assets/images/home_banner02.jpg);">
          </div>
        </ng-template>
    
        <ng-template ngbSlide>
          <div class="item" style="background-image: url(../../assets/images/home_banner03.jpg);">
          </div>
        </ng-template>
    
      </ngb-carousel>
      <div class="banner-caption">
        <span class="banner-title">VIEWING THE COMPLETE IMPORT/EXPORT CARGO
          ACTIVITIES QUICKER & CLOSER</span>
        <p>Our authentication of conformity service that helps in ensuring that all shipments conform to ISPS and local
          importing standards ahead of the arrival in order to allow trade parties to process import/export
          certification and timely screen all
          movements of goods across borders.</p>
        <div class="login-btns">
          <a title="Shipper Login" class="primary-button links" >Shipper login</a>
          <a title="MRN Login" class="primary-button links" >MRN login</a>
        </div>
    
      </div>
</section>

