<header>
    <div class="container">
        <div class="header-wrapper">
            <div class="header-left">
                <a href="#" title="Logo" class="logo-link" routerLink="home" routerLinkActive="router-link-active">
                    <i><img src="../../assets/images/logo.png" alt="Logo" title="Logo"></i>
                </a>
                <ul>
                    <li>
                        <a href="#" title="About CTN" routerLink="about-ctn" routerLinkActive="router-link-active"> About CTN </a>
                    </li>
                    <li>
                        <a href="#" title="CTN Fees">CTN Fees</a>
                    </li>
                </ul>
            </div>
            <div class="header-right">
                <div class="country-select">
                    <i><img src="../../assets/images/internet.svg" alt="Country"></i>
                    <select class=" select">
                      <option selected value="EN">en</option>
                      <option value="FR">fr</option>
                    </select>
                  </div>
                  <div class="flag">
                    <i><img src="../../assets/images/flag.png" alt="Country" title="Country"></i>
                  </div>
            </div>
        </div>
    </div>
</header>

