<footer>
    <section class="footer-section">
      <div class="container">
        <div class="row-wrap">
          <div class="column">
            <div class="logo links" routerLink="home" routerLinkActive="router-link-active" >
              <img src="../../assets/images/logo.png" alt="Logo" title="Sierra Leone Ports Authority">
            </div>
            <ul class="social-media">
              <li>
                <i>
                  <img src="../../assets/images/facebook-circle.svg" alt="Facebook" title="Facebook">
                </i>
              </li>
              <li>
                <i>
                  <img src="../../assets/images/twitter-circle.svg" alt="Twitter" title="Twitter">
                </i>
              </li>
              <li>
                <i>
                  <img src="../../assets/images/linkedin-circle.svg" alt="LinkedIn" title="LinkedIn">
                </i>
              </li>
            </ul>
          </div>
          <div class="column">
            <h4>Quick links</h4>
            <ul>
              <li title="CTN" routerLink="about-ctn" routerLinkActive="router-link-active" class="links"> CTN</li>
              <li title="CTN Fees" class="ctn-fees"> CTN Fees
                <!-- <span (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">CTN
                  Fees</span>
                <div class="popup-content" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
                  <app-ctn-fees></app-ctn-fees>
                </div> -->
              </li>
              <li title="Tracker">Tracker</li>
              <li title="Contact Us">Contact Us</li>
            </ul>
          </div>
          <div class="column">
            <h4>Company</h4>
            <ul>
              <li title="Home"  class="links" routerLink="home" routerLinkActive="router-link-active"> Home</li>
              <li title="About Us"  routerLink="about-ctn" routerLinkActive="router-link-active"> About Us</li>
              <li title="Career"> Career</li>
              <li title="Help/Support"> Help/Support</li>
              <li title="How it works"> How it works</li>
            </ul>
          </div>
          <div class="column">
            <h4>Subscribe Newsletter</h4>
            <p>Subscribe to our newsletter for latest updates.</p>
            <form action="">
              <input type="email" title="Email" placeholder="Enter you email address">
              <button class="primary-button" type="submit" title="Subscribe">Subscribe</button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <section class="t-c-section">
      <div class="container">
        <div class="wrap">
          <ul>
            <li title="Terms & Conditions"> Terms & Conditions</li>
            <li title="Privacy Policy"> Privacy Policy</li>
          </ul>
          <div>
            <p>Natur Global Solution &copy; 2020 All Rights Reserved</p>
          </div>
        </div>
      </div>
    </section>
  </footer>